In [1]:
%%time
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# Order 66
%config Completer.use_jedi=False
# Ease
import sys
import warnings
warnings.filterwarnings("ignore")
pd.set_option("display.max_columns", 70)
sys.path.append("K:\\Projects\\vscProject\\Kaggle\\HousePrices")

Wall time: 2.45 s

In [2]:
%%time
# Coustom Data Module
from Script.data import data

X_train, y_train, X_test, y_samp = data()

Tokenization took: 0.00 ms
Type conversion took: 9.69 ms
Parser memory cleanup took: 0.00 ms
Tokenization took: 10.21 ms
Type conversion took: 10.04 ms
Parser memory cleanup took: 0.00 ms
Tokenization took: 9.82 ms
Type conversion took: 9.99 ms
Parser memory cleanup took: 0.00 ms
Wall time: 3.02 s

# sk-learn Imports

In [3]:
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV, RepeatedKFold
from sklearn.tree import DecisionTreeRegressor, ExtraTreeRegressor, plot_tree

In [4]:
cv = RepeatedKFold(random_state=3007)

# Decision Tree

In [5]:
%%time
full_dt = DecisionTreeRegressor(criterion="mae")
full_dt.fit(X_train, y_train)

print(f"Tree Depth  = {full_dt.get_depth()}")
print(f"Tree LEaves = {full_dt.get_n_leaves()}")

Tree Depth  = 26
Tree LEaves = 1374
Wall time: 769 ms

In [6]:
full_dt_feature_imp = pd.Series(full_dt.feature_importances_, index=X_train.columns).sort_values(ascending=False).round(4) * 100; full_dt_feature_imp.head(10)

Total_SF        43.15
OverallQual     10.28
Neighborhood    10.00
GrLivArea        4.54
BsmtFinSF1       2.23
Remodel_Age      2.23
GarageArea       1.85
LotFrontage      1.82
LotArea          1.77
MoSold           1.24
dtype: float64

In [7]:
ccpp = pd.DataFrame(full_dt.cost_complexity_pruning_path(X_train, y_train))

In [8]:
ccpp

        ccp_alphas    impurities
0         0.000000      0.000000
1         0.010274      0.010274
2         0.034247      0.044521
3         0.034247      0.078767
4         0.041781      0.120548
...            ...           ...
1267   1942.673973  29345.836301
1268   2023.165068  31369.001370
1269   3513.057534  34882.058904
1270   5238.838356  40120.897260
1271  15412.758904  55533.656164

[1272 rows x 2 columns]

In [ ]:
%%time
param_distributions = {
    "criterion": ['mae'],
    "ccp_alpha": ccpp.ccp_alphas.values
}

dt_rscv = RandomizedSearchCV(
    DecisionTreeRegressor(),
    param_distributions,
    n_iter       = 100,
    scoring      = "neg_mean_absolute_error",
    n_jobs       = -2,
    cv           = cv,
    verbose      = 1,
    random_state = 7013,
)
dt_rscv.fit(X_train, y_train)

Fitting 50 folds for each of 100 candidates, totalling 5000 fits

In [ ]:
pd.DataFrame(dt_rscv.cv_results_).sort_values(by="rank_test_score").head(5)